<mat-sidenav-container>
  <mat-sidenav-content>
    dashboard content
    <header>
      <a routerLink="create">create new job offer</a>
    </header>
    <mat-nav-list dense>
      <ng-container *ngFor="let job of joblist | async">
        <a mat-list-item [routerLink]="job.id" routerLinkActive="list-item-active">{{job.title}}</a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav-content>
  <mat-sidenav mode="side" position="end" opened>
   <router-outlet></router-outlet>
  </mat-sidenav>
</mat-sidenav-container>
